_wandb:
    value:
        cli_version: 0.22.2
        e:
            q1f6ch4ffcgn2kwhnrl831k8ka5olws4:
                args:
                    - data=c2db
                codePath: lrcdvae/run.py
                codePathLocal: lrcdvae/run.py
                cpu_count: 16
                cpu_count_logical: 32
                cudaVersion: "12.4"
                disk:
                    /:
                        total: "536608768000"
                        used: "105288581120"
                email: zhouyansong1998@outlook.com
                executable: /public/home/yszhou/anaconda3/envs/concdvae/bin/python
                git:
                    commit: c9e0f09555173eff94ee5d43a2e3e70cab3e8355
                    remote: git@github.com:zhouyansong/CDVAE_TEST.git
                gpu: NVIDIA GeForce RTX 3060 Ti
                gpu_count: 2
                gpu_nvidia:
                    - architecture: Ampere
                      cudaCores: 4864
                      memoryTotal: "8589934592"
                      name: NVIDIA GeForce RTX 3060 Ti
                      uuid: GPU-4efe3574-788e-198e-2354-e1213176b297
                    - architecture: Ampere
                      cudaCores: 4864
                      memoryTotal: "8589934592"
                      name: NVIDIA GeForce RTX 3060 Ti
                      uuid: GPU-ce62368e-0211-e8ff-fc43-634bc614f5a9
                host: mstation
                memory:
                    total: "236358123520"
                os: Linux-3.10.0-1160.95.1.el7.x86_64-x86_64-with-glibc2.17
                program: /public/home/yszhou/aigc/CDVAE_TEST/lrcdvae/run.py
                python: CPython 3.11.13
                root: .
                startedAt: "2025-11-14T07:04:04.293673Z"
                writerId: q1f6ch4ffcgn2kwhnrl831k8ka5olws4
        m:
            - "1": trainer/global_step
              "6":
                - 3
              "7": []
            - "2": '*'
              "5": 1
              "6":
                - 1
              "7": []
        python_version: 3.11.13
        t:
            "1":
                - 1
                - 5
                - 9
                - 41
                - 50
                - 53
                - 77
                - 103
                - 105
            "2":
                - 1
                - 5
                - 9
                - 41
                - 50
                - 53
                - 77
                - 103
                - 105
            "3":
                - 1
                - 7
                - 13
                - 15
                - 62
                - 66
            "4": 3.11.13
            "5": 0.22.2
            "12": 0.22.2
            "13": linux-x86_64
core:
    value:
        tags:
            - "2025-11-14"
        version: 1.0.0
data:
    value:
        datamodule:
            _target_: lrcdvae.pl_data.datamodule.CrystDataModule
            batch_size:
                test: 32
                train: 32
                val: 32
            datasets:
                test:
                    - _target_: lrcdvae.pl_data.dataset.CrystDataset
                      graph_method: crystalnn
                      lattice_scale_method: scale_length
                      load_old: true
                      name: Formation energy test
                      niggli: true
                      path: /public/home/yszhou/aigc/CDVAE_TEST/data/c2db/test.csv
                      preprocess_workers: 30
                      primitive: false
                      prop: formation_energy_per_atom
                      save_path: /public/home/yszhou/aigc/CDVAE_TEST/data/c2db/test_data.pt
                train:
                    _target_: lrcdvae.pl_data.dataset.CrystDataset
                    graph_method: crystalnn
                    lattice_scale_method: scale_length
                    load_old: true
                    name: Formation energy train
                    niggli: true
                    path: /public/home/yszhou/aigc/CDVAE_TEST/data/c2db/train.csv
                    preprocess_workers: 30
                    primitive: false
                    prop: formation_energy_per_atom
                    save_path: /public/home/yszhou/aigc/CDVAE_TEST/data/c2db/train_data.pt
                val:
                    - _target_: lrcdvae.pl_data.dataset.CrystDataset
                      graph_method: crystalnn
                      lattice_scale_method: scale_length
                      load_old: true
                      name: Formation energy val
                      niggli: true
                      path: /public/home/yszhou/aigc/CDVAE_TEST/data/c2db/val.csv
                      preprocess_workers: 30
                      primitive: false
                      prop: formation_energy_per_atom
                      save_path: /public/home/yszhou/aigc/CDVAE_TEST/data/c2db/val_data.pt
            num_workers:
                test: 0
                train: 0
                val: 0
        early_stopping_patience: 10
        eval_model_name: c2db
        graph_method: crystalnn
        lattice_scale_method: scale_length
        load_old: true
        max_atoms: 30
        niggli: true
        num_targets: 1
        otf_graph: false
        preprocess_workers: 30
        primitive: false
        prop: formation_energy_per_atom
        readout: mean
        root_path: /public/home/yszhou/aigc/CDVAE_TEST/data/c2db
        teacher_forcing_max_epoch: 50
        train_max_epochs: 100
expname:
    value: 2d_cdvae_experiment
logging:
    value:
        lr_monitor:
            log_momentum: false
            logging_interval: step
        val_check_interval: 5
        wandb:
            entity: null
            group: 2d_cdvae_experiment
            log_model: true
            mode: online
            name: 2d_cdvae_experiment
            project: crystal_generation_mit
        wandb_watch:
            log: all
            log_freq: 500
model:
    value:
        _target_: lrcdvae.pl_modules.model.CDVAE
        beta: 0.01
        cost_composition: 1
        cost_coord: 10
        cost_edge: 10
        cost_lattice: 10
        cost_natom: 1
        cost_property: 1
        cost_type: 1
        decoder:
            _target_: lrcdvae.pl_modules.decoder.GemNetTDecoder
            hidden_dim: 128
            latent_dim: 256
            max_neighbors: 30
            radius: 8
            scale_file: /public/home/yszhou/aigc/CDVAE_TEST/lrcdvae/pl_modules/gemnet/gemnet-dT.json
        encoder:
            _target_: lrcdvae.pl_modules.gnn.DimeNetPlusPlusWrap
            basis_emb_size: 8
            cutoff: 8
            envelope_exponent: 5
            hidden_channels: 128
            int_emb_size: 64
            max_num_neighbors: 20
            num_after_skip: 2
            num_before_skip: 1
            num_blocks: 4
            num_output_layers: 3
            num_radial: 6
            num_spherical: 7
            num_targets: 1
            otf_graph: false
            out_emb_channels: 256
            readout: mean
        fc_num_layers: 1
        hidden_dim: 256
        latent_dim: 256
        max_atoms: 30
        max_neighbors: 30
        num_noise_level: 50
        predict_property: false
        radius: 8
        sigma_begin: 10
        sigma_end: 0.01
        teacher_forcing_lattice: true
        teacher_forcing_max_epoch: 50
        type_sigma_begin: 5
        type_sigma_end: 0.01
optim:
    value:
        lr_scheduler:
            _target_: torch.optim.lr_scheduler.ReduceLROnPlateau
            factor: 0.6
            min_lr: 0.0001
            patience: 30
        optimizer:
            _target_: torch.optim.Adam
            betas:
                - 0.9
                - 0.999
            eps: 1e-08
            lr: 0.001
            weight_decay: 0
        use_lr_scheduler: true
stats/params_not_trainable:
    value: 117
stats/params_total:
    value: 4922984
stats/params_trainable:
    value: 4922867
train:
    value:
        deterministic: false
        early_stopping:
            patience: 10
            verbose: false
        model_checkpoints:
            every_n_epochs: 50
            save_last: true
            save_top_k: 1
            verbose: false
        monitor_metric: val_loss
        monitor_metric_mode: min
        pl_trainer:
            accelerator: gpu
            accumulate_grad_batches: 1
            devices: 1
            fast_dev_run: false
            gradient_clip_algorithm: value
            gradient_clip_val: 0.5
            max_epochs: 100
            num_sanity_val_steps: 2
            precision: bf16-mixed
            profiler: simple
        random_seed: 42
